<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="./reversi.js"></script>
<script src="./cvi_busy_lib.js"></script>
<meta name="viewport" content="width=device-width,initial-scale=1"/>

<!--
<link rel="shortcut icon" href="/icon.png" type="image/png"/>
<link rel="icon" href="/icon.png" type="image/png"/>
<link rel="apple-touch-icon" href="/icon.png"/>
-->

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="Reversi Analytics"/>
<title>Reversi Analytics - <%= board_size %></title>

<style type="text/css">
html, body{
  background-color: #fafafa;
  font-size: 20px;
  color: #333;
}
</style>
<script>
var main_reversi = null;
$(function(){
  $.ajax({
    url: '/api/reversi/start_process',
    type: 'POST',
    data: { board_size: <%= board_size %> },
    success: function( result ){
      main_reversi = result.result;
      console.log( main_reversi );
      $('#main_reversi').html( JSON.stringify( main_reversi, null, 2 ) );
    },
    error: function( e0, e1, e2 ){
      console.log( e0, e1, e2 );
    }
  });
});

function nextProcess(){
  var obj = getBusyOverlay( 'viewport', {color:'black', opacity:0.5, text:'処理中・・', style:'text-decoration:blink; font-weight:bold; font-size:12px; color:white;' } );
  $.ajax({
    url: '/api/reversi/next_process',
    type: 'POST',
    data: { board_size: <%= board_size %> },
    success: function( result ){
      if( result && result.status ){
        var r0 = result.result;

        //$('#main_reversi').html( JSON.stringify( r0, null, 2 ) );
        if( r0.next_status && r0.next_status.length ){
          var idx = -1;
          for( var i = 0; i < r0.next_status.length && idx == -1; i ++ ){
            if( r0.next_status[i] == -1 ){
              idx = i;
            }
          }

          if( idx > -1 ){
            var choice = r0.next_choices[idx];
            var reversi1 = new reversi( null, r0.id, r0.depth + 1, idx, choice, r0.board, r0.next_player );
            //. この状態の reversi1 と r0 を DB に保存する（ reversi1 を upateProcess で作成すると r0 も更新される）
            $.ajax({
              url: '/api/reversi/update_process',
              type: 'POST',
              data: { reversi: reversi1 },
              success: function( result ){
                obj.remove();
                console.log( result );
                alert( 'Thanks. Done.' );
                location.href = '/';
              },
              error: function( e0, e1, e2 ){
                obj.remove();
                console.log( e0, e1, e2 );
              }
            });
          }else{
            alert( '演算対象の選択肢が見つかりませんでした。' );
            obj.remove();
          }
        }
      }
    },
    error: function( e0, e1, e2 ){
      obj.remove();
      console.log( e0, e1, e2 );
    }
  });
}
</script>
</head>
<body>

<div class="container">
  <div><pre id="main_reversi">
  </pre></div>
  <button id="next_btn" class="btn btn-primary" onClick="nextProcess();">Next</button>
</div>

</html>
